/**
 * Styling the index page requires bourbon
 * http://thoughtbot.com/bourbon/
 */

@import 'bourbon/bourbon';

$font-size: 14px;
$line-height: 20px;
$font-color: #333;
$highlight: #fff;
$margin: 12px;
$background: #e2dddb;